@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  background: #1d821d;
  color: white;
  font: 16px/1.5 'Gochi Hand', cursive;
  margin: 0;
  padding: 0;
}

/* layout */
header, main, footer {
  text-align: center;
}

#field {
  background: repeating-linear-gradient(
    #78480c,
    #78480c 1.25rem,
    #5b370b 1rem,
    #5b370b 1.5rem
  );
  height: 600px;
  margin: 1rem auto;
  width: 800px;
}

/* primitives */
a {
  color: #ccc;
  text-decoration: none;
}
  a:hover {
    border-bottom: solid 1px white;
    color: white;
  }

h1 {
  margin: 0;
}

p {
  line-height: 2.25;
  margin: 0;
}
